<form ng-show="add" ng-submit="addGroup(group)" role="form" novalidate name="addGroup">
	<legend>Add Group</legend>
	<div class="form-group">
		<label for="">Name</label>
		<input name="name" ng-model="group.name" type="text" class="form-control" placeholder="admin" required>
		<span style="color:red" ng-show="addGroup.group.name.$dirty && addGroup.group.name.$invalid">
			<span ng-show="addGroup.group.name.$error.required">Name is required.</span>
		</span>
	</div>

	<p>Username:<br>
		<input type="text" name="user" ng-model="user" required>
		<span style="color:red" ng-show="addGroup.user.$dirty && addGroup.user.$invalid">
			<span ng-show="addGroup.user.$error.required">Username is required.</span>
		</span>
	</p>

	<div class="form-group">
		<label for="">Description</label>
		<textarea name="desc" ng-model="group.desc" id="" class="form-control" cols="30" rows="3" placeholder="admin will manage"></textarea>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
	<button type="button" ng-click="resetForm()" class="btn btn-default">Cancel</button>
</form>

