<form name="addGroupForm" ng-show="add" ng-submit="addGroup(group)" novalidate >
	<legend>Add Group</legend>
	<div class="form-group">
		<label for="">Name</label>
		<input name="name" ng-model="group.name" required type="text" class="form-control" placeholder="admin">
		<span style="color:red" ng-show="addGroupForm.name.$dirty && addGroupForm.name.$invalid">
			<span ng-show="addGroupForm.name.$error.required">Name is required.</span>
		</span>
	</div>

	<div class="form-group">
		<label for="">Description</label>
		<textarea name="desc" ng-model="group.desc" required id="" class="form-control" cols="30" rows="3" placeholder="admin will manage"></textarea>
		<span style="color:red" ng-show="addGroupForm.desc.$dirty && addGroupForm.name.$invalid">
			<span ng-show="addGroupForm.desc.$error.required">Description is required.</span>
		</span>
	</div>
	<button type="submit" class="btn btn-primary"
	ng-disabled="addGroupForm.name.$dirty && addGroupForm.name.$invalid ||
	addGroupForm.desc.$dirty && addGroupForm.desc.$invalid"
	>Submit</button>
	<button type="button" ng-click="resetForm()" class="btn btn-default">Reset</button>
</form>

