<form role="form">
	<legend>List of Groups</legend>
	<div class="checkbox">
		<label><input type="checkbox" ng-model="advanced_filter" checked="checked">Advanced Filter</label>
	</div>   
	<div class="col-sm-12 col-md-6 col-lg-4 form-group">
		<input type="text" class="form-control" name="name" 
		ng-model="filter_name" placeholder="By name" />
	</div>   
	<span ng-show="advanced_filter">
		<div class="col-sm-12 col-md-6 col-lg-4 form-group">
			<input type="text" class="form-control" name="date" 
			ng-model="filter_date" placeholder="By date" />
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 form-group">
		<select name="" id="" class="form-control" ng-model="filter_status">
				<option value="" selected="selected">-- Is Active --</option>                        
				<option ng-repeat="status in groupStatus" value="{{status.id}}">{{status.name}}</option>
			</select>
		</div>                
	</span> 
</form>
